{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow border-0 rounded-4">
                <div class="card-body p-4">
                    <h4 class="fw-bold text-center mb-4">Qeydiyyat</h4>
                    <form action="{{ url_for('register') }}" method="POST">
                        <div class="mb-3">
                            <label class="form-label small text-muted">İstifadəçi Adı</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label small text-muted">E-poçt Ünvanı</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label small text-muted">Şifrə</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 rounded-pill fw-bold py-2">Qeydiyyatdan Keç</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}